.progress {
    background: #b8cfe6 !important;
}

.bg-html {
    background: #f16529 !important;
}

.bg-css {
    background: #0277bd !important;
}

.bg-js {
    background: #d6ba32 !important;
}

.bg-react {
    background: #13b9b4 !important;
}

.bg-bootstrap {
    background: #563d7c !important;
}

.bg-php {
    background: #8993be !important;
}

.bg-ps {
    background: #08004E !important;
}

.bg-xd {
    background: #470137 !important;
}